body {
    overflow-x: hidden;
    margin: 0;

}

/* Estilos para o header */

header {
    background-color: #ffffff; 
    padding: 10px 0; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

header nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
}

.logo-centralizado {

    flex: 1; 
    text-align: center;
}

.logo-centralizado img {
    height: 20px; 
    display: block; 
    margin: 0 auto; 
}

.logo-cabecalho img {
    height: 30px;
}

header nav ul {
    align-items: center;
    font-family: "Inter", sans-serif;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
}

header nav ul li {
    margin-right: 20px; 
}

header nav ul li:last-child {
    margin-right: 0; 
}

header nav ul li a {
    text-decoration: none;
    color: #333333; 
    font-weight: bold; 
    transition: color 0.3s ease;
    color: var(--wireframe-gray-07, #1C1C2B);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.entre_contato{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: var(--brand-orange-01, #F09005);;
    border-radius: 48px;
}

header nav ul li a:hover {
    color: var(--brand-orange-01, #F09005);
}

/* Estilos para o submenu */

header nav ul ul.submenu {
    display: none; 
    position: absolute; 
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav ul ul.submenu li {
    display: block;
    width: 200px; 
}

header nav ul li:hover > ul.submenu {
    display: block; 
}

/* Estilos para a section #home */

#home {
    padding: 50px 0;
    text-align: center;
    background-color: #F5F7FD;
}

.conteudo {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
}

.texto {
    flex: 1; 
    text-align: left; 
    max-width: 600px;
    margin-right: 20px; 
    padding: 90px;
}   

.texto h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; 
    font-family: "Inter", sans-serif;
    font-size: 2.5rem; 
    margin-bottom: 10px; 
}

.texto p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    color: #757385;

    font-size: 1.1rem; 
    margin-bottom: 20px; 
}

#home a {
    display: flex;
    padding: 12px 32px;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    border-radius: 48px;
    border: 2px solid #FBC06A;
    background:  #F09005;
}

#home a:hover {
    background-color: #FBC06A;
}

.imagens {
    position: relative;
}

.imagem-container {
    position: relative; 
    width: 696px;
    height: 416.192px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; 
}

.background {
    position: relative; 
    z-index: 1; 
    
}

.satisfacoes {
    display: flex; 
    justify-content: space-around; 
    max-width: 900px; 
    margin: 30px auto 0;
}

.grupo {
    text-align: center; 
    width: 200px; 
    margin-bottom: 20px;
}

.grupo h1 {
    font-family: "Poppins", sans-serif;;
    color: #F09005;
    font-size: 2rem; 
    margin-bottom: 10px; 
}

.grupo p {
    font-family: "Inter";
    font-size: 1rem; 
    margin: 0; 
    color: #757385;
}


/*Estilização do trio de imagens*/
.trio_imagens {
    background-color: #ffffff; 
    text-align: center; 
    padding: 50px 20px; 
    padding: 60px 112px;
}

.trio_imagens span {
    color: var(--brand-orange-02, #FBC06A);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 

}

.trio_imagens h1 {
    color: var(--wireframe-gray-08, #0D0B1A);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; 
}

.trioimagens {
    display: flex; 
    justify-content: center; 
}

.trioimagens img {
    max-width: 100%; 
    border-radius: 10px; 
    margin: 0 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease-in-out; 
}

.trioimagens img:hover {
    transform: scale(1.05);
}

/* Estilos para a seção sobre */
#sobre {
    padding: 0px var(--Paddings-Horizontal-Padding-Horizontal-Padding-Global, 112px);
    display: flex;
    align-items: center; 
    padding: 50px; 
    justify-content: center;
    gap: 58px;
    background-image: radial-gradient(circle at 120.71% 50%, #9f96e1 0, #919cff 25%, #3c78f2 50%, #0059e3 75%, #0041d4 100%);
}

#sobre img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-right: 30px; 
}

.texto-sobre {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.texto-sobre span {
    color: var(--brand-orange-02, #FBC06A);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}

.texto-sobre h1 {
    color: #ffffff;
    font-size: 2.5rem; 
    margin-bottom: 20px; 
   
}


.texto-sobre p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.lista-itens {
    list-style-type: none; 
    justify-content: center;
    gap: 16px;
}

.lista-itens li {
    margin-bottom: 10px;
    color: #F5F7FD;
}


/* Estilos para a seção empresaseorgaos */
#empresaseorgaos {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.header-section {
    margin-bottom: 40px;
}

.header-section span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: var(--brand-red-01, #E7501D);

    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}

.header-section h1 {
    color: var(--wireframe-gray-08, #0D0B1A);
    text-align: center;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quem_atende {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.empresas_privadas,
.orgaos_publicos,
.pessoas_fisicas {
    display: flex;

    align-items: flex-start;
    padding: 20px;
    border-radius: 24px;

    box-shadow: 0px 12.814px 33.317px 0px #FFEED1;
    flex-direction: column;

    height: 300px;
    width: 300px; 
    max-width: 300px; 
    background: #F09005;
}

.empresas_privadas img,
.orgaos_publicos img,
.pessoas_fisicas img {
    max-width: 50px;
}

.empresas_privadas h1,
.orgaos_publicos h1,
.pessoas_fisicas h1 {
    font-size: 24px;
    color: #fffefe;
    margin-bottom: 10px;
    color: var(--white, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}

.empresas_privadas p,
.orgaos_publicos p,
.pessoas_fisicas p {
    color: var(--white, #FFF);
font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%;
text-align: left;
}

/*estilização para voce*/
#paravoce{
    background-color: #F5F7FD    ;
    text-align: center;
    padding: 50px 20px;
}
#paravoce span{
    color: var(--brand-blue-02, #7C9EE8);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
}
.titulo-frota{
    color: var(--wireframe-gray-07, #1C1C2B);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; 

}

.frota-ideal {
    display: flex;
    flex-wrap: wrap; 
    gap: 48px; 
    justify-content: center;
}

/* Ajustes para cada bloco */
.produtividade,
.diferentes,
.contratos,
.tecnologia,
.atendimento,
.seguranca {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    flex-shrink: 0;
    height: 300px;
    width: 300px; 
    max-width: 300px; 
    padding: 32px 20px;
    border-radius: 24px;
    border: 2px solid var(--brand-blue-02, #7C9EE8);
    background: radial-gradient(122.76% 110.06% at 98.6% 1.25%, #425FB3 0%, #2F4A97 100%);
    box-shadow: 0px 24px 32px 0px rgba(233, 236, 241, 0.50);
}

/* Estilos para o parágrafo */
.produtividade p,
.diferentes p,
.contratos p,
.tecnologia p,
.atendimento p,
.seguranca p {
    color: var(--white, #ffffff);
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.8;
}

.frota-ideal h1{
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}

#paravoce a{
    margin-top: 100px;
    font-family: "inter", sans-serif;
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: var(--brand-orange-01, #F09005);
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;

}
#paravoce a img{
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
#paravoce a:hover{
    background-color: #FBC06A;

    color: #ffffff;
}


/*estilização de locação serviço*/
.locacao-servico{
    background-color: #ffffff    ;
    text-align: center;
    padding: 50px 20px;
}

.locacao-servico span{
    color: var(--brand-blue-02, #7C9EE8);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    text-transform: uppercase;
}
.titulo-locacao {
    color: var(--wireframe-gray-07, #1C1C2B);
    text-align: center;
        font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}
.locacao-servico p{
    color: var(--wireframe-gray-04, #56546B);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.lista_inclusoes {
    display: flex;
    width: 1216px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
    flex-wrap: wrap;

}
.lista_inclusoes li {
    list-style-type: none;
    display: flex;
    padding: 12px 18px 12px 12px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 24px 32px 0px rgba(233, 236, 241, 0.50);

}


/*estilização seção clientes*/
.clientes{
    background-color: #ffffff    ;
    text-align: center;
    padding: 50px 20px;
}
.header-clientes span{
    color: var(--brand-blue-02, #7C9EE8);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
}
.header-clientes h1{
    color: var(--wireframe-gray-07, #1C1C2B);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 44px */
}

.feedback-clientes {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-self: stretch;
}

.feedback-clientes div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.feedback-clientes img {
    width: 58px;
    height: 66px;
    vertical-align: middle;
}

.feedback-clientes h1 {
    color: var(--wireframe-gray-08, #0D0B1A);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin: 8px 0;
}

.feedback-clientes span {
    color: var(--wireframe-gray-08, #0D0B1A);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
    margin-top: 8px;
}

.feedback-clientes p {
    color: #757385;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 8px; 
    text-align: center;
}

/*estilziando calculadora*/

#calculadora{
    display: flex;
    padding: 0px 112px 80px 112px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: #FFF;

}

.simulacao {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-image: radial-gradient(circle at 107.31% 50%, #e8f086 0, #ebe374 12.5%, #eed661 25%, #f0c64f 37.5%, #f2b53c 50%, #f4a32c 62.5%, #f69120 75%, #f87f1d 87.5%, #fb6c20 100%);
    border-radius: 12px;
    width: 1216px;
    height: 524px;
}


.faca-simulacao {
    flex: 1;
    padding-right: 20px;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
}
.faca-simulacao h1{
    width: 400px;
    color: #F5F7FD;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
}
.faca-simulacao a{
    display: flex;
    padding: 12px 32px;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background-color: #2D2C68;

}

.imagens {
    flex: 1;
    text-align: right; 
    margin-bottom: 75px;
}

.man {
    max-width: 100%;
}

/*Forms fale conosco*/

#faleconosco {
    background-color: #f2f2f2; 
    padding: 40px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

.homemnocarro {
    max-width: 100%;
    height: auto;
}

.form {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.spanfaleconosco{
    width: 287px;
    color: var(--brand-blue-02, #7C9EE8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;

}

.form h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--Gray-08, #15151F);
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 20px;
    
}


.form-group input,
.form-group select {
    width: calc(100% - 10px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    width: 526px;
    padding: 16px 31px;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-sm, 6px);
    background: #F6F6F8;
    color: #757385;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



.checkboxes {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 33px;
}

.checkboxes label {
    margin-right: 15px;
    color: #757385;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

button {
    display: flex;
    width: 255px;
    justify-content: center;
    align-items: center;
    background-color: #F09005;
    color: white;
    border: none;
    border-radius: 48px;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}

button:hover {
    background-color: #e08204; 
}

.form h4 {
    margin-top: 20px;
    font-size: 14px;
    color: var(--Gray-04, #56546A);
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.dadosseguros {
    color:#56546A;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    margin-bottom: 9px;

}
.form img{
    width: 21.6px;
    height: 24px;
    flex-shrink: 0;
}


/*estilização final*/

.secao-final{
    background-color: #2d2c68;
    width: 1440px;
    height: 632px;
}
.vendaveiculos{
    display: inline-flex;
    padding: 80px 0px;
    align-items: center;
    gap: 55px;
    
}

.carroavenda{
    width: 693px;
    height: 472px;
    flex-shrink: 0;
    border-radius: 0px 24px 24px 0px;

}

.tipodeveiculo{
    display: inline-flex;
    flex-direction: column;
    align-items: right;
    text-align: left;

}
.tipodeveiculo h1{
    width: 400px;
    color: #F5F7FD;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;

}
.tipodeveiculo p{
    width: 545px;
    color: var(--white, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

/*---------------------------------------*/

.secaofinal2 {
    background-color: #37367c;
    text-align: center;
    width: 1440px;
    height: 532px;
    display: inline-block;
}
.secaofinal2 > h1{
    color: white;
    text-align: center;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;

}
.motivosparacomprar {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.motivosparacomprar > div {
    text-align: center;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    gap: 26px;
}

.motivosparacomprar img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.motivosparacomprar h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}

.motivosparacomprar p {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    opacity: 0.8;
}


/*Estilização ultima*/
.estapronto {
    background-color: #26265d;
    text-align: center;
    padding: 40px 0;
}

.pronto {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.mulhersobcarro {
    margin: 90px;
    max-width: 400px;
    order: 1;
}

.titulos {
    margin: 90px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    flex: 1;
    order: 0; 
}

.titulos h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center; 
    background:  linear-gradient(to right, white , orange 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 400px;
    text-align: left;
}

.titulos h1 .white-text {
    color: white;
}

.titulos h1 .orange-text {
    color: orange;
}

.titulos p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: white;
    width: 400px;
}

.titulos a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 48px;
    background: #F09005;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
.titulos a:hover{
        background-color: #e08204;
}

.titulos a img {
    vertical-align: middle;
    margin-right: 10px;
}


/*footer*/
.footer{
    background-color: #454578;
}
footer >div{
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;

}

footer  ul{
    list-style-type: none;
    align-items: center;
}
footer ul li{
    display: inline;
    align-items: flex-start;
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding: 9px;
}
footer nav ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove as margens padrão */
}

footer nav ul li {
    display: inline-block; /* Exibe os itens como blocos em linha */
    margin-right: 10px; /* Espaçamento entre os itens (opcional) */
}

footer nav ul li:last-child {
    margin-right: 0; /* Remove o espaço à direita do último item */
}

footer nav ul li a {
    text-decoration: none; /* Remove sublinhado padrão dos links */
    padding: 5px 10px; /* Espaçamento interno dos links */
    display: block; /* Transforma o link em bloco para ocupar toda a largura do <li> */
    color: #ffffff; /* Cor do texto dos links */
    font-family: 'inter', sans-serif;
}


.social-media{
    display: flex;
    align-items: center;
    gap: 8px;
}
.address{
    width: 217px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.final{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:400px;
}
.final span{
    color: #FFF;
    display: block;
}
.final  a{
    color: white;
}